.qution_sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; 
  }
  
  .div-block-52 {
    margin-left: 30px;
    flex: 1;
  }
  
  .text-block-25 {
    font-size: 33px;
    font-weight: bold;
    margin-bottom: 39px
  }
  .button-3 {
    display: inline-block;
    padding: 10px 35px !important; 
    background-color: #000; 
    color: #fff; 
    font-weight: bold;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 15px;
  }
  
  .div-block-53 {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .image-15 {
    max-width: 100%; 
    height: auto; 
    margin-right: 80px;
  }
  .qution-sec-container {
    background-color: #f0f0f0; 
    padding: 20px; 
    border-radius: 27px; 
    margin: 30px;
  }
  
  .qution_sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .div-block-52 {
    flex: 1;
  }
  
  .text-block-25 {
    font-size: 24px; 
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .button-3 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000; 
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 21px;
    text-decoration: none;
  }
  .div-block-53 {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .image-15 {
    max-width: 100%; 
    height: auto; 
  }
  .email-input {
    width: 50%;
    padding: 10px;
    border: 1px solid #393735;
    border-radius: 14px;
    margin-right: 10px;
    outline: none;
  }
  