.section-97 {
    text-align: center;
    color: #333;
  }
  
  .div-block-4 {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
/*   
   h2 {
    font-size: 42px !important;
    line-height: 1;
    margin-bottom: 27px;
  }  */
  
  p {
    font-size: 21px;
    margin-bottom: 20px;
  }
  
  .w-layout-layout.quick-stack-168 {
    display: flex;
    justify-content: center;
  }

/* h2{
    margin-top: 60px !important;
} */


.section-97 {
    text-align: center;
  }
 
  .div-block-4 h2 {
    font-size: 2rem; 
  }
  
  .div-block-4 p {
    font-size: 1.5rem; 
    margin-top: 10px; 
  }
  .div-block-5.ai-hero {
    background-image: url('https://moretasks.com/images/Ai.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; 
  }
  .revcs{
    margin: 0 120px !important;
    font-size: 42px !important;
    line-height: 1;
    margin-bottom: 27px !important;
    margin-top: 60px !important;
  }
